<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Parishi Jain">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Duquesne Incline Web Development Project">
    <title>Duquesne Incline</title>
    <link rel="stylesheet" href="static/style.css">   
</head>
<body style="font-family: 'Roboto'">
    <header>
        <h1 id="webname">Duquesne Incline</h1>
        <img src="../static/duquesneincline.jpg" alt="Duquesne Incline Image" width="500px" height="300px">
        <nav>
            <a href="../index.html">Home</a>
            <a href="plan-trip.html">Plan Your Trip</a>
            <a href="gift-shop.html">Gift Shop</a>
            <a href="mailing-list.html">Join the Mailing List</a>
            <a href="about-us.html">About the Incline</a>
        </nav>
    </header>

    <body>
        <h3>Gift Shop Offerings</h3>
        <p>We offer many one-of-a-kind items that were custom-made for the Incline!</p>
        <ul>
            <li>Shot glasses (including a slanted one!)</li>
            <li>Handmade Incline wooden ornament (a big seller and is only available here)</li>
            <li>A full assortment of Wendell August Forge metal plates</li>
            <li>Custom-designed shirts available in youth and adult sizes</li>
            <li>One of the best selections of postcards in the city</li>
        </ul>
    </body>

    <footer>
        <p id="copyYear">Designed and coded by Parishi Jain &copy;</p>
    </footer>
</body>
</html>
