<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Parishi Jain">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Duquesne Incline Web Development Project">
    <title>Duquesne Incline</title>
    <link rel="stylesheet" href="static/style.css">   
</head>
<body style="font-family: 'Roboto'">
    <header>
        <h1 id="webname">Duquesne Incline</h1>
        <img src="../static/duquesneincline.jpg" alt="Duquesne Incline Image" width="500px" height="300px">
        <nav>
            <a href="../index.html">Home</a>
            <a href="plan-trip.html">Plan Your Trip</a>
            <a href="gift-shop.html">Gift Shop</a>
            <a href="mailing-list.html">Join the Mailing List</a>
            <a href="about-us.html">About the Incline</a>
        </nav>
    </header>

    <body>
        <h3>Mailing Address</h3>
        <p>1220 Grandview Ave.<br>
        Pittsburgh, PA 15211</p>

        <h3>Wheelchair Accessibility</h3>
        <p>The Duquesne Incline’s upper station is wheelchair accessible. 
        Visitors requiring accessibility accommodations are encouraged to use the entrance at Grandview Avenue.</p>
    </body>

    <footer>
        <p id="copyYear">Designed and coded by Parishi Jain &copy;</p>
    </footer>
</body>
</html>
